p{
  max-width: 800px;
}
/*About page*/
.horizontal-wrapper {
height: 100vh;
overflow: hidden;
z-index: 1;
background-color: var(--background-color);
}

.horizontal-content {
display: flex;
height: 100%;
width: 450vw; /* 4 Sektionen à 100vw */
gap:3%
}

.panel {
flex: 0 0 100vw;
height: 100vh;
display: flex;
}
.panel-Haelfte {
    flex: 0 0 50vw;
    height: 100vh;
    display: flex;
    }

.unten{
    margin-top: auto;
    max-width: 800px;
}

.oben{
  max-width: 800px;
}
.panel-intro{
flex: 0 0 100vw;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}
.panel-half{
flex: 0 0 50%;
padding: 10rem 2rem;
}
.panel-half img{
width:100%;
}

.panel-quater{
flex: 0 0 25vw;
}

.panel-dreiviertel{
flex: 0 0 75%;
padding: 2rem;
}
.welcome{
background-color: var(--primary-color);
flex-basis: 33%;
height: 100vh;
align-items: center;
justify-content: center;
display: flex;
flex-grow: 0;
border-radius: 0 50px 50px 0;
}

.welcome h2{
text-align: center;
color: var(--background-color);
}

.panel-intro-content{
  flex: 0 0 33%;
  padding: 2rem;
  }

.panel-intro-content img{
  width: 100%;
  border-radius: 10px
  }
.grid-luettfeld{
display: grid;
grid-template-rows: 2fr 1fr ;
grid-template-columns: 1fr 1fr;
height: 100vh;
gap: 1rem;
padding: 10rem 2rem;
}

.luettfeld-klein{
grid-column: span 1;
}

.luettfeld-klein.box{
border: var(--primary-color) 2px solid;
border-radius: 10px;
padding: 2rem
}

.luettfeld-gros{
grid-column: span 2;
border: var(--primary-color) 2px solid;
border-radius: 10px;
overflow: hidden;
display: flex;
}

.word-box {
  position: relative;
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.word {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  transform: rotate(-20deg);
  top: 50px;
  left: 50px;
}
.word:nth-child(2) { top: 80px; left: 120px; transform: rotate(10deg); }
.word:nth-child(3) { top: 150px; left: 40px; transform: rotate(-15deg); }
.word:nth-child(4) { top: 200px; left: 100px; transform: rotate(25deg); }
.word:nth-child(5) { top: 120px; left: 200px; transform: rotate(-5deg); }
.word:nth-child(6) { top: 20px; left: 180px; transform: rotate(12deg); }
.word:nth-child(7) { top: 240px; left: 60px; transform: rotate(-30deg); }


.marquee {
width: 100vw; 
white-space: nowrap;
position: relative;
margin: auto;
height:85%;
}

.marquee-content {
display: flex;
gap: 1rem;
height: 100%;
animation: marquee 25s linear infinite;
width: max-content;
}

.marquee-content img {
    height: 100%;
    border-radius: 10px;
}

@keyframes marquee {
from {
    transform: translateX(0);
}
to {
    transform: translateX(-50%);
}
}

.grid-fhp{
    height:100vh;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 5rem;
    padding: 10rem 2rem;
}

.fhp-spalte h2{
    color: var(--accent-color);
    rotate: -90deg;
    top: 80%;
  position: absolute;
  margin:0;
  max-width: 20vh;
}

.fhp-lang{
 grid-column: span 2;
}

.fhp-small{
    grid-column: span 1;
}

.fhp-small .emphazised{
    color: var(--primary-color);
}

.fhp-spalte{
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    border-radius: 10px;
}

.fhp-img{
  height: 90px;
  width: 100%;
  overflow:
hidden;
  align-content: center;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.fhp-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;   
  display: block;
}
.privat{
  flex-direction: column;
  padding: 10rem 2rem;
}
.privat-content{
  width: 75%;
  padding: 2rem;
}

.image-fan {
  position: relative;
  width: 50%;
  margin-left: 15%;
  padding:2rem;
}

.fan-img {
  position: absolute;
  width: 75%;
  transition: transform 0.3s ease;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.img1 {
  z-index: 1;
  transform: rotate(-10deg) translateX(-35%);
}

.img2 {
  z-index: 2;
  transform: rotate(0deg);
}

.img3 {
  z-index: 3;
  transform: rotate(5deg) translateX(35%);
}

.fan-img:hover {
  z-index: 10;
}

.tools-banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tools-content {
  display: flex;
  flex-direction: column; /* vertikal nebeneinander */
  gap: 3rem; /* gleichmäßiger Abstand */
  animation: tools-banner 35s linear infinite;
}

.tools-content img {
  height: 100px;
  width: auto;
  transform: rotate(-90deg); /* jedes Bild einzeln drehen */
  border-radius: 10px;
  object-fit: contain;
}



@keyframes tools-banner {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}