p{
  max-width: 800px;
}
/*About page*/
.horizontal-wrapper {
height: 100vh;
overflow: hidden;
z-index: 1;
background-color: var(--background-color);
}

.horizontal-content {
display: flex;
height: 100%;
width: 450vw; /* 4 Sektionen à 100vw */
gap:3%
}

.panel {
flex: 0 0 100vw;
height: 100vh;
display: flex;
}
.panel-Haelfte {
    flex: 0 0 50vw;
    height: 100vh;
    display: flex;
    }

.unten{
    margin-top: auto;
    max-width: 800px;
}

.oben{
  max-width: 800px;
}
.panel-intro{
flex: 0 0 100vw;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}
.panel-half{
flex: 0 0 50%;
padding: 10% 2rem;
}
.panel-half img{
width:100%;
}

.panel-quater{
flex: 0 0 25vw;
}

.panel-dreiviertel{
flex: 0 0 75%;
padding: 2rem;
}
.welcome{
background-color: var(--primary-color);
flex-basis: 33%;
height: 100vh;
align-items: center;
justify-content: center;
display: flex;
flex-grow: 0;
border-radius: 0 50px 50px 0;
}

.welcome h2{
text-align: center;
color: var(--background-color);
}

.panel-intro-content{
  flex: 0 0 33%;
  padding: 2rem;
  }

.panel-intro-content img{
  width: 100%;
  border-radius: 10px
  }
.grid-luettfeld{
display: grid;
grid-template-columns: 2fr 1fr ;
height: 100vh;
gap: 1rem;
padding: 10% 2rem;
}

.luettfeld-klein{
grid-column: span 1;
}

.luettfeld-klein.box{
border: var(--primary-color) 2px solid;
border-radius: 10px;
padding: 2rem
}

.luettfeld-gros{
grid-column: span 2;
border: var(--primary-color) 2px solid;
border-radius: 10px;
overflow: hidden;
display: flex;
}

.skills-container {
  width: 100%;
  margin: 5% 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.skill {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
}

.icon {
  font-size: 32px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: space-between;
  }

.skill-name {
  font-weight: bold;
  margin-bottom: 8px;
}

.progress-box {
  flex-basis: 75%;
  flex-direction: column;
  display: flex;
}
.progress-bar {
  position: relative;
  height: 18px;
  border-radius: 9px;
  background: #ddd;
  overflow: hidden;
}

.progress-bar .fill {
  height: 100%;
  border-radius: 9px;
  position: relative;
}

.fill::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, rgba(255,255,255,0.3), transparent 70%);
  mix-blend-mode: screen;
}

.description {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  margin-top: 12px;
  font-size: 0.9em;
  color: #444;
}

.arrow {
  display: flex;
  transition: transform 0.3s ease;
}

.arrow svg{
  margin: auto 0;
}
.skill.active .arrow {
  transform: rotate(180deg);
  align-content: end;
}

.skill.active .arrow svg {
  margin:0;
}

.skill.active .description {
  max-height: 300px; /* genug Platz für den Inhalt */
  opacity: 1;
  overflow: auto;
}

.skill.hidden {
  display: none;
}

/* Farben */
.fill.film { background: var(--primary-color); }
.bg.film { background: #E7D8FD; }

.fill.grafik { background: var(--secondary-color) }
.bg.grafik { background: #ead5df; }

.fill.fotografie { background: var(--accent-color); }
.bg.fotografie { background: #e3ffc6; }

.marquee {
width: 100vw; 
white-space: nowrap;
position: relative;
margin: auto;
height:85%;
}

.marquee-content {
display: flex;
gap: 1rem;
height: 100%;
animation: marquee 25s linear infinite;
width: max-content;
}

.marquee-content img {
    height: 100%;
    border-radius: 10px;
}

@keyframes marquee {
from {
    transform: translateX(0);
}
to {
    transform: translateX(-50%);
}
}

.panel-fhp{
  height: 100vh;
  min-width: 100vw;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}
.grid-fhp {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-flow: column;
  grid-template-rows: auto auto;
  gap: 5rem;
  padding: 10% 2rem;
  width: max-content; /* wichtig: lässt Grid so breit wie nötig werden */
}

.fhp-spalte h2{
    color: var(--accent-color);
    rotate: -90deg;
    top: 80%;
  position: absolute;
  margin:0;
  max-width: 20vh;
}

.fhp-lang{
 grid-column: span 2;
}

.fhp-small{
    grid-column: span 1;
}

.fhp-small .emphazised{
    color: var(--primary-color);
}

.fhp-spalte{
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    border-radius: 10px;
}

.fhp-img{
  height: 90px;
  width: 100%;
  overflow:
hidden;
  align-content: center;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.fhp-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;   
  display: block;
}
.privat{
  flex-direction: column;
  padding-top: 10%;

}
.privat-content{
  width: 75%;
  padding: 2rem;
}

.image-fan {
  position: relative;
  width: 50%;
  margin-left: 15%;
  padding:2rem;
}

.fan-img {
  position: absolute;
  width: 75%;
  transition: transform 0.3s ease;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.img1 {
  z-index: 1;
  transform: rotate(-10deg) translateX(-35%);
}

.img2 {
  z-index: 2;
  transform: rotate(0deg);
}

.img3 {
  z-index: 3;
  transform: rotate(5deg) translateX(35%);
}

.fan-img:hover {
  z-index: 10;
}

.marquee-column {
  overflow: hidden;
  position: relative;
}

.marquee-track {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: scroll-up 25s linear infinite;
}

.img-wrapper {
  width:60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4vh 0;
}

.img-wrapper img {
  width: 100%;
  display: block;
}

@keyframes scroll-up {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}