:root {
    --primary-color: #600DB4;
    --secondary-color: #B128C3;
    --accent-color: #C8FF00;
    --primary-gradient: linear-gradient(to right, rgb(96, 13, 180), rgb(177, 40, 195));
    --main-gradient: linear-gradient(90deg, rgba(96, 13, 180, 0.8), rgba(177, 40, 195, 0.8));
    --grey1: #B5B5B5;
    --grey2: #535353;
    --background-color: #F1F2EE;
    --text-color: #333;
    --white: #f8f9fa;
}
/* Globale Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor:none !important;
}

body {
    overflow-x: hidden;
    background-color: var(--background-color);
}

.contents {
    padding: 0 10%;
    overflow: hidden;
    width: 100%;
}
/*fonts*/
@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
} 
@font-face {
    font-family: 'Playfair';
    src: url('schmuckschrift/Playfair-VariableFont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
} 

@font-face {
    font-family: 'Nothing';
    src: url('schmuckschrift/NothingYouCouldDo-Regular.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
} 

@font-face {
    font-family: 'Marker';
    src: url('schmuckschrift//PermanentMarker-Regular.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
} 


h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.25;
}
h2 {
    font-family: 'Playfair', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
    margin: 2rem 0;
    color: var(--text-color);
}
h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--text-color);
}
p,li::marker, li{
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.75;
    color: var(--text-color);
}
.button-font {
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
}
a{
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.75;
    color: var(--primary-color);
    text-decoration: none;
}
.caption{
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--grey1);
    text-transform: uppercase;
}
.emphazised{
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5;
    color: var(--text-color);
}
.schmuckschrift{
    font-family: 'Playfair', sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--primary-color);
}

/*gernerals*/

/*cursor*/
.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(248,249,250, 0.8);
    pointer-events: none;
    z-index: 1000;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    transition: transform 0.15s ease, width 0.2s ease, height 0.2s ease;
  }
  
  .cursor.click {
    transform: translate(-50%, -50%) scale(0.8);
  }
  
  .cursor.hover {
    width: 100px;
    height: 100px;
  }
  /* Only display a message if the user can't hover (which would indicate they're using an input that doesn't have a cursor) */
  @media (hover: hover) {
    .no-cursor {
      display: none;
    }
  }
    /* Filter Buttons */
    .filter-buttons {
        display: flex;
        gap: 1rem;
        margin-bottom: 2rem;
        flex-wrap: wrap;
    }

    .filter-btn {
        -webkit-background-clip: text;
        background-clip: text;
        color: var(--text-color);
        padding: 1rem 2rem; 
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease;
        background-color: var(--background-color);
        border: 2px solid var(--primary-color);
    }

    .filter-btn:hover {
        background: var(--primary-gradient);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .filter-btn.active {
        background: var(--primary-color);
        color: var(--background-color);
        -webkit-background-clip: initial;
        background-clip: initial;
    }

    .filter-btn .close-icon {
        display: none;
        margin-left: 8px;
        vertical-align: middle;
    }

    .filter-btn .close-icon svg {
        width: 22px;
        height: 22px;
        stroke: currentColor;
    }

    .filter-btn.active .close-icon {
        display: inline-flex;
        align-items: center;
    }
   
    .primary-btn{
        background-color: var(--primary-color);
        color: var(--background-color);
        padding: 1rem 2rem; 
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease;
        border: none;
        margin:1rem 0;
    }
    .primary-btn:hover{
        background-color: var(--secondary-color);
        transform: translateY(-5px);
    }

    .secondary-btn{
        background-color: var(--accent-color);
        color: var(--text-color);
        padding: 1rem 2rem; 
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease;
        border: none;
        margin:1rem 0
    }
    .secondary-btn:hover{
        background-color: var(--secondary-color);
        transform: translateY(-5px);
        color: var(--background-color)
    }

.link-container{
    margin: 1rem 0;
    display: flex;
    gap: 1rem;
}
.back-button {
    margin: 0 10%;
    position: fixed;
    z-index: 1000;
    top: 15px;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: all 0.3s ease;
    cursor: pointer;
}

.back-button svg {
    width: 14px;
    height: 20px;
    stroke: currentColor;
}

.back-button:hover {
    transform: translateX(-5px);
}


/*Images*/
.image-ganz{
    width: 100%;
    margin: 3rem 0;
}
.image-ganz img{
    width: 100%;
    border-radius: 10px;
}


/* Header */
.mobile-header {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    justify-content: end;
    align-items: center;
    z-index: 100;
  }
  
  /* Burger */
  .burger {
    width: 30px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1100;
  }
  
  .burger span {
    display: block;
    height: 3px;
    background: var(--primary-color);
    border-radius: 2px;
    transition: 0.4s;
  }
  
  /* Burger Animation */
  .burger.active span:nth-child(1) {
    transform: rotate(45deg) translateY(9px);
  }
  .burger.active span:nth-child(2) {
    opacity: 0;
  }
  .burger.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-9px);
  }
  
  /* Mobile Nav */
  .mobile-nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: right 0.5s ease;
    z-index: 100;
    border-radius: 10px 0 0 10px;
    background: rgba(241, 242, 238, 0.15);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }
  
  .mobile-nav.active {
    
    right: 0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  .mobile-nav a {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    position: relative;
    transition: all 0.5s ease;
    transform: translateY(0);
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: var(--grey2);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .mobile-nav a.active {
    color: transparent;
    transform: translateY(-2px);
    background-size: 100%;
    background-position: 0 0;
    color: var(--primary-color);
}

.wave-divider svg {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    line-height: 0;
    transform: rotate(180deg);
  }
/* Hero Section */
/* Basis-Layout */

.hero {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #ffffff; /* Feste Farbe am Anfang */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 105;
    pointer-events: none;
    transition: background-color 0.3s ease; /* smoother Übergang */
  }
  
  .hero-spacer {
    height: 80vh;
  }
  

.hero-inhalt {
  position: relative;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease;
  

}

.hero-text {
  position: absolute;
  top: 30%;
  left: 10%;
  transition: transform 0.3s ease;
  width: 50%;
}

.hero-text h3{
    color: var(--primary-color);
}

.hero-first{
    padding-bottom: 35vh;
}
.hero-images {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 2rem;
  transition: transform 0.3s ease;
  z-index: -1;
}

.pattern-image {
  width: 100%;
  height: auto;
  bottom: 0%;
  transform: translateX(30%);
}

.background-title {
    font-family: 'Playfair', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: var(--accent-color);
    position: absolute;
    top: -32.5%;
    left: -10%;
    font-size: 7.5rem;
    z-index: -1;
    pointer-events: none;
    transform: rotate(-5deg);
  }

.contacts{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 20% 0;
}

.contact{
    display: flex;
  gap: 5%;
  align-items: center;
}
.contact img{
    width: 50px;
    height:50px;
}

.portrait-image {
  width: 70%;
  height: auto;
  border-radius: 10px;
  position: absolute;
  bottom: 0%;
  left: 50%;
}

.next-section {
  background: var(--background-color);
  padding: 5%;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

  
/* Navigation */
.main-nav {
    background: rgba(241, 242, 238, 0.15);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding: 1rem 3rem;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    width: fit-content;
    margin-top: 10px;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    margin: 0;
    padding: 0;
}

.main-nav a {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    position: relative;
    transition: all 0.5s ease;
    transform: translateY(0);
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: var(--grey2);
    background-size: 100%;
    background-repeat: no-repeat;
}

.main-nav a.active {
    color: transparent;
    transform: translateY(-2px);
    background-size: 100%;
    background-position: 0 0;
    color: var(--primary-color);
}

.main-nav a:hover {
    color: transparent;
    transform: translateY(-2px);
}

.profession{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.profession-item{
    padding:1.5rem;
    border-left: 2px solid var(--primary-color)
}

.img-box {
    width: 100%;
    height: 60vh;
    margin: 5% 0;
    overflow: hidden;
    border-radius: 10px;
    display: flex; /* Added to center content */
    align-items: center; /* Vertically centers the image */
    justify-content: center; /* Horizontally centers the image */
}

.img-full {
    width: 100%;
    height: auto; /* Ensures the aspect ratio is maintained */
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}


.work-container {
    width:100%;
  }

  .work {
    margin-bottom: 40px;
  }

  .work-name {
    margin-bottom: 8px;
    font-weight: bold;
  }

  .work-bar-bg {
    background-color: var(--grey1);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    height: 30px;
  }

  .work-bar-fill {
    height: 100%;
    width: 0;
    color: var(--white);
    font-weight: bold;
    text-align: right;
    line-height: 30px;
    padding-right: 10px;
    transition: width 2s ease-out;
  }

  .percent {
    position: absolute;
    right: 10px;
    top: 0;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    color: var(--white);
  }

  /* Beispiel-Farben */
  .html { background-color: var(--primary-color); }
  .css { background-color: var(--accent-color); }
  .js { background-color: var(--secondary-color); }
  .react { background-color: var(--text-color); }


.fanned-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 0 10vw;
    gap: 2rem;
  }
  
  .text {
    flex: 1;
  }
  
  .images {
    flex: 1;
    position: relative;
    height: 70%;
  }
  
  .fanned-image {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .images.visible .fanned-image:nth-child(1) {
    transform: translate(12%, -43%) rotate(20deg);
    opacity: 1;
  }
  .images.visible .fanned-image:nth-child(2) {
    transform: translate(-50%, -50%) rotate(10deg);
    opacity: 1;
  }
  .images.visible .fanned-image:nth-child(3) {
    transform: translate(-100%, -50%) rotate(0deg);
    opacity: 1;
  }
  
  .fanned-image:hover{
    transform: translate(-50%, -50%) rotate(0deg) scale(1.05);
    z-index: 10;
  }

/*img spalte*/
.img-section{
    width: 100%;
    height: fit-content;
    min-height: 400px;
    padding: 0 10%;
}

.spalte-box{
    width:50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 50%;
    justify-content: center;
}
.spalte-intro1{
    background-image: url('img/home/spalte.png');
    background-position: center;
    background-size: cover;
}

/* Design Experience Section */
.design-experience {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: radial-gradient(circle at center, #6b46c1 0%, var(--white) 50%);
    padding: 2rem;
}

.design-experience h2 {
    font-size: 3rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    z-index: 2;
}

.floating-words {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.floating-words .property {
    position: absolute;
    background: var(--accent-color);
    transition: all 0.5s ease-out;
    white-space: nowrap;
    padding: 1rem 2rem; 
    border-radius: 50px;
    color: var(--text-color);
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
}

.floating-words span {
    background: var(--text-color);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.floating-words div {
    position: absolute;
    transition: transform 0.5s ease-out;
}

/* Projects Section */
.projects {
    padding: 4rem 0;
    overflow: hidden;
    width: 100%;
    position: relative;
    background-color: var(--white);
}

.project-cards {
    display: flex;
    gap: 2rem;
    padding: 0 10%;
    width: 100%;
    transform: translateX(0);
    transition: transform 0.5s ease-out;
    position: relative;
    -webkit-transform: translateX(0);
    -webkit-transition: -webkit-transform 0.5s ease-out;
    justify-content: flex-start;
}

.card {
    flex: 0 0 calc(25vw - 1.5rem);
    min-width: calc(25vw - 1.5rem);
    background: var(--background-color);
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    display: block;
    margin-right: 2rem;
    cursor: pointer;
}

.card:last-child {
    margin-right: 0;
}

.card.visible {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
}

.card:hover {
    transform: translateY(-5px);
}

.card-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    object-position: center 0;
}

.card:hover .card-image img {
    transform: scale(1.05);
}

.card-content {
    padding: 1.5rem;
}

.card-content p {
    word-break: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.card-content .caption {
    word-break: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

/*grid*/
.current-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.img-grid{
    padding: 0 !important;
}

.grid-ganz{
    grid-row: span 3;   
    padding: 2rem;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.grid-drittel{
    grid-row: span 1;   
    padding: 2rem;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
}

.grid-zweidrittel{
    grid-row: span 2;   
    padding: 2rem;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
}

.grid-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.grid-logo{
    width: 100%;
}
/* Footer Section */
.footer {
    background-color: var(--accent-color);
    border-bottom: 13px var(--accent-color) solid;
}

.footer div p{
    color: var(--text-color);
}
.footer-content{
    padding: 4rem 10%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 30vh;
    align-content: center;
}

.footer-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5%;
}

.footer-center h3{
    margin:0;
    font-weight: 800;
}
.footer-highlight{
    font-size: 9vw;
    text-align: center;
    color: var(--text-color);
}

.footer-box{
    align-content: center;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.social-links a {
    color: var(--accent-color);
    transition: all 0.3s ease;
    background: var(--text-color);
    padding: 10px;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    justify-content: center;
  align-items: center;
  display: flex;
}


.social-links a:hover {
    color: var(--text-color);
    transform: translateY(-2px);
    background-color: var(--accent-color);
    border-radius: 2px solid var(--text-color);
    border-radius: 50%;
}

.social-links svg {
    width: 32px;
    height: 32px;
}

.intro {
    padding:10%;
    text-align: center;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
}

.intro-content{
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
}

.row-halbhalb {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin: 4rem 0;
}
.halb{
    flex-basis: 50%;
    margin: auto 0;
}
.halb img{
    width:100%;
    border-radius: 10px;
}

.halb video{
    width:60%;
    margin: 0 25%;
}

.dreiviertel{
    flex-basis: 75%;
    margin: auto 0;
}
.dreiviertel img{
    width:100%;
    border-radius: 10px;
}
.viertel{
    flex-basis: 25%;
    margin: auto 0;
    flex-shrink: 0;
}
.wrap {
    margin: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-10deg);
    scale:2.33;

  }
  
  .sb-box{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:8rem;
    margin-bottom: 20%;
  }

  .sb-box .schmuckschrift{
    font-size: 2rem;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 2rem;
    width: 30%;
  }
  .special-btn {
    min-width: 300px;
    min-height: 60px;
    display: inline-flex;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: var(--background-color);
  background: linear-gradient(90deg, var(--grey1) -10%, var(--grey2) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px var(--accent-color);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  .special-btn::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid var(--grey2);
    box-shadow: 0 0 60px var(--accent-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .special-btn:hover, 
  .special-btn:focus {
    color: var(--accent-color);
    transform: translateY(-6px);
  }
  .special-btn::before, 
  .special-btn::before {
    opacity: 1;
  }
  
  .special-btn::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid var(--accent-color);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .special-btn:hover::after, 
  .special-btn:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }
  
/* Placeholder Section */
.placeholder {
    padding: 4rem 10%;
    text-align: center;
    height: 100vh;
}



/* Projects Grid */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 2rem;
    padding: 0 10% 10% 10%;
}

.projects-grid .card {
    flex: none;
    min-width: auto;
    margin-right: 0;
}

/* Tags */
.tags {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.tag {
    padding: 0.25rem 0.75rem;
    border-radius: 50px;
    color: white;
}

.tag.ui {
    background: var(--primary-color);
}

.tag.ux {
    background: var(--secondary-color);
}

.tag.vr {
    background: var(--accent-color);
    color: var(--text-color);
}

.tag.three-d {
    background: var(--grey2);
}

.tags .andere {
    background-color: var(--grey1);
    color: var(--text-color);
}
@media (max-width: 1000px) {
    .profession {
        grid-template-columns: 1fr 1fr;
    }
    .profession-item {
        border: none;
    }
}
/* Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 3.813rem;
    }
    h2 {
        font-size: 2.625rem;
        margin: 1.5rem 0;
    }
    h3 {
        font-size: 1.688rem;
    }
    
    p {
        font-size: 1.125rem;
    }
    .button-font {
        font-size: 1.125rem;
    }
    .link {
        font-size: 1.125rem;
    }
    .caption{
        font-size: 1.125rem;
    }
    .emphazised{
        font-size: 1.125rem;
    }



.background-title {
    top: -19.5%;
    left: -5.5%;
    font-size: 5.5rem;
  }
  
  .hero-text {
    width: 75%;
  }
  
  .portrait-image {
    width: 80.5%;
  }
  
     /* Filter Buttons */
     .filter-buttons {
        gap: 1rem;
    }

    .filter-btn {
        padding: 0.75rem 1rem; 
    }

    .filter-btn .close-icon {
        margin-left: 6px;
    }

    .filter-btn .close-icon svg {
        width: 18px;
        height: 18px;
    }

    .primary-btn{
        padding: 0.75rem 1.5rem; 
    }
    .secondary-btn{
        padding: 0.75rem 1.5rem; 
    }
    .intro-content{
        max-width: 100%;
    }

    .early-break{
        flex-direction: column ;
    }

    .img-section{
        height:75vh;
    }

    .fanned-section{
        margin: 10% 0;
    }
    .design-experience{
        padding: 0;
    }

    .project-cards {
        flex-direction: column;
    }

    .projects{
        padding: 2rem 0;
    }

    .card {
        flex: 0 0 auto;
        margin: 0;
    }
    
    .main-nav {
        padding: 1rem 2rem;
    }
    
    .main-nav ul {
        gap: 1.5rem;
    }
    
    .main-nav a {
        font-size: 1rem;
    }
    
    .design-experience h2 {
        font-size: 2rem;
    }

    .fanned-section{
        padding:0 5vw;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
    }

    .fanned-image:active{
        transform: translate(-50%, -50%) rotate(0deg) scale(1.05);
        z-index: 10;
    }


    .images{
        height: 544.5px;
        width: 100%;
        margin-bottom: 3rem;
    }

    .images.visible .fanned-image:nth-child(1) {
        transform: translate(-5%, -44%) rotate(8deg);
        }

    .projects-grid {
        grid-template-columns: 1fr;
        padding: 0 10% 10% 10%;
    }

    .current-grid{
        grid-template-columns: 1fr 1fr;
    }

    .sb-box .schmuckschrift {
        width: 75.5%;
        }

    .wrap {
        scale: 1.8;
        }
}

@media (max-width: 480px) {
    * {
        cursor:auto;
    }

    .cursor {
        display: none;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
        margin: 1rem 0;
    }
    h3 {
        font-size: 1.5rem;
    }
    
    p {
        font-size: 1rem;
    }
    .button-font {
        font-size: 1rem;
    }
    .link {
        font-size: 1rem;
    }
    .caption{
        font-size: 1rem;
    }
    .emphazised{
        font-size: 1rem;
    }

    .hero-text {
      width: 100%;
    }
    .background-title {
      top: 23.5%;
      left: 5.5%;
      font-size: 3rem;
    }
  
  
  .hero-inhalt {
    width: 100vw;
    overflow: hidden;
  }
  
  .hero-images {
    left: 0;
  }
  
  .hero-text {
    top: 0;
    left: 0;
    padding: 20% 10%;
  }
  
  .profession{
        grid-template-columns: 1fr;
    }

    .profession-item{
        padding: 2rem 0;
        border-left: none;
        border-bottom: 2px solid var(--grey1);
    }

    .row-halbhalb{
        margin: 2rem 0;
    }

    .img-section {
    height: 100vh;
    margin: 2rem 0;
    }
    .spalte-box {
        width:100%;
        margin-left: 0;
    }

    .spalte-intro1 {
    background-image: url('img/Bloom/cover-Image-small.png');
    }

    .images{
        height:300px;
    }

.current-grid {
  grid-template-columns: 1fr ;
  gap: 0;
  border: 2px solid var(--primary-color);
  padding: 1rem;
  border-radius: 10px;
}

.grid-ganz {
  grid-row: span 2;
  padding: 0;
  border: none;
}

.grid-drittel {
  padding: 1rem 0;
  border: none;
}

.grid-zweidrittel {
  padding: 1rem 0;
  border: none;
}

.img-grid {
  padding: 1rem 0 !important;
}


    .main-nav ul {
        gap: 1rem;
    }

    .filter-buttons {
        gap: 0.5rem;
    }
    .link-container{
        margin: 1rem 0;
    }

    .filter-btn{
        gap: 0.5rem;
        padding: 0.5rem 1rem;
    }
    .primary-btn {
        padding: 0.5rem 1rem;
    }

    .secondary-btn {
        padding: 0.5rem 1rem;
    }

    .mobile-header{
        display: flex;
    }
    .main-nav {
        display: none;
    }
    .row-halbhalb {
        flex-direction: column;
    }

    .design-experience h2 {
        font-size: 1.9rem;
        line-height: 1.8rem;
    }

    .wrap {
      scale: 1;
    }
    .sb-box .schmuckschrift {
      width: 100%;
    }
  
  
  .sb-box .schmuckschrift {
    font-size: 1.5rem;
  }
  
  .wrap {
    margin: 32px;
  }
  
  .sb-box {
    height: 66.5vh;
  }

  .footer-content {
    grid-template-columns: 1fr;
    height: fit-content;
    gap: 7%;
  }
  
  .footer-box {
    text-align: center;
  }
  
  .footer-center {
    text-align: center;
  }
  
  .social-links a {
    width: 45px;
    height: 45px;
  }
  
  .footer {
    z-index: 1000;
    position: relative;
  }
}

/* Project Detail Page */
    .project-header {
        height: 60vh;
        margin-top: -65px;
    }

    .project-header img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .project-meta {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 4rem;
        margin: 0 20%;
        border: 2px solid var(--primary-color);
        border-radius: 10px;
    }

    .meta-item {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem;
        border-radius: 1rem;
        transition: transform 0.3s ease;
    }


/* styles-methoden.css | http://127.0.0.1:5501/styles-methoden.css */


  
  
  

    /* Responsive Design für Project Detail */
    @media (max-width: 768px) {
        .project-meta {
            grid-template-columns: 1fr;
            gap: 1rem;
        }

        .meta-item {
            padding: 0.75rem;
        }

    }
